@tailwind base;
@tailwind components;
@tailwind utilities;

#sign-form-title, #list-clients-title
{
    font-size: 24px;
    font-weight: bold;
}
#sign-btn
{
    position: relative;
    top: 15px;
}
.table-fixed
{
    margin-top: 2%;
}

#grid-nome, #grid-endereco, #grid-bairro, #grid-cidade, #client-data
{
    text-transform: capitalize;
}
#grid-estado, #client-data-state
{
    text-transform: uppercase;
}
#client-data-delete
{
    margin: 5%;
}
#img-logo
{
    width: 4vw;
}
#client-op-icon
{
    font-size: 3.5vh;
    position: relative;
    vertical-align: middle;
    background-color: #818cf8;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
    #client-table
    {
        width: 85vw;
    }
    #client-op-icon
    {
        font-size: 2vh;
    }
    #client-data
    {
        font-size: 10px;
    }
    th
    {
        font-size: small;
    }
}